@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .base-container {
    @apply mx-auto w-full max-w-[1150px] px-5;
  }

  *:focus {
    outline: 2px dashed #d87d4a;
    outline-offset: 3px;
  }

  @font-face {
    font-family: "Manrope";
    src:
      url("./fonts/Manrope-Regular.woff2") format("woff2"),
      url("./fonts/Manrope-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Manrope";
    src:
      url("./fonts/Manrope-Medium.woff2") format("woff2"),
      url("./fonts/Manrope-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Manrope";
    src:
      url("./fonts/Manrope-Bold.woff2") format("woff2"),
      url("./fonts/Manrope-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
}

@layer components {
  /* Buttons */
  .orange-button {
    @apply inline-block min-w-40 bg-orange p-4  text-center text-[13px] font-bold uppercase tracking-[1px] text-white-100 transition-colors hover:bg-light-orange;
  }

  .accent-button {
    @apply inline-block min-w-40  border bg-none p-4  text-center text-[13px] font-bold uppercase tracking-[1px] text-dark-100 transition-colors hover:bg-black hover:text-white-100;
  }

  .link-button {
    @apply inline-flex min-w-40 items-center p-4 font-bold uppercase text-dark-50 after:ml-3 after:h-3 after:w-2 after:bg-arrow hover:text-orange;
  }

  /* Inputs */
  .login-input {
    @apply border-input-border w-full rounded-lg border bg-transparent px-6 py-4 text-[14px] font-bold text-light-orange placeholder:-tracking-[0.25px];
  }
}
