@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply h-full scroll-smooth;
  }

  body {
    @apply h-full font-manrope text-[15px] font-medium leading-6 text-dark-50;
  }

  #root {
    @apply flex h-full flex-col;
  }

  main {
    @apply grow;
  }

  .base-container {
    @apply mx-auto w-full max-w-[1150px] px-5;
  }

  *:focus {
    outline: 2px dashed #d87d4a;
    outline-offset: 3px;
  }

  @font-face {
    font-family: "Manrope";
    src:
      url("./fonts/Manrope-Regular.woff2") format("woff2"),
      url("./fonts/Manrope-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Manrope";
    src:
      url("./fonts/Manrope-Medium.woff2") format("woff2"),
      url("./fonts/Manrope-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Manrope";
    src:
      url("./fonts/Manrope-Bold.woff2") format("woff2"),
      url("./fonts/Manrope-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
}

@layer components {
  /* Buttons */
  .orange-button {
    @apply inline-block min-w-40 bg-orange p-4  text-center text-[13px] font-bold uppercase tracking-[1px] text-white-100 transition-colors hover:bg-light-orange;
  }

  .accent-button {
    @apply inline-block min-w-40  border bg-transparent p-4  text-center text-[13px] font-bold uppercase tracking-[1px] text-dark-100 transition-colors hover:border-dark-100 hover:bg-dark-100 hover:text-white-100;
  }

  .accent-button-white {
    @apply inline-block rounded-lg  border bg-transparent p-4 text-center text-[13px] font-bold uppercase tracking-[1px] text-white-100  transition-opacity hover:opacity-80;
  }

  .link-button {
    @apply inline-flex items-center p-4 font-bold uppercase text-dark-50 after:ml-3 after:h-3 after:w-2 after:bg-arrow hover:text-orange;
  }

  /* Inputs */
  .login-input {
    @apply w-full rounded-lg border border-input-border bg-transparent px-6 py-4 text-[14px] font-bold text-light-orange placeholder:-tracking-[0.25px];
  }

  .label-input {
    @apply mb-2 block font-bold text-white-100;
  }

  /* Titles */
  .title {
    @apply text-[28px] font-bold uppercase leading-tight tracking-[2px] text-dark-100 sm:text-[40px];
  }

  /* Badges  */
  .new-badge {
    @apply text-[14px] uppercase tracking-[10px] text-orange;
  }
}
